#codeButton{
    background-color: #bb86fc;
    border: #bb86fc;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#codeButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.allignleft{
    text-align: left;
}

.allignright{
    text-align: right;
}

section.contact ul.list-social li.social-github a {
    background-color: #444444;
}

section.contact ul.list-social li.social-github a:hover {
    background-color: black;
}

section.contact ul.list-social li.social-gitlab a {
    background-color: #f86f42;
}

section.contact ul.list-social li.social-gitlab a:hover {
    background-color: #df3734;
}

.footerlinks{
    color: lightgray;
}

#mainNav .navbar-brand {
    color: white;
}
#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: lightgray;
}

.incorrectInput::placeholder {
    color: red;
    opacity: 1;
}

.incorrectInput:-ms-input-placeholder {
    color: red;
}

.incorrectInput::-ms-input-placeholder {
    color: red;
}

.incorrectInput{
    background-color: #ffb3b3;
}

.rechtBG{
    background-color: #212121;
    color: white;
}

.rechtBG h1{
    padding-top: 70px;
}